@model IEnumerable<ManagementApplication.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Покупатели</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="text" asp-for="@item.Id" />
            </td>
            <td>
                <input type="text" asp-for="@item.Name" />
            </td>
            <td>
                <input type="text" asp-for="@item.Status" />
            </td>
                <td>
                    <form method="post" asp-action="Edit">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Save</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="Details">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Details</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="Delete">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
