@using ManagementApplication.BaseEntity
@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Покупатели</h1>

<p>
    <a asp-action="Create">Создать нового</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <form method="post" asp-action="Edit">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <td><input type="text" name="Name" value="@item.Name" /></td>
                    <td>
                        @Html.DropDownList("Status",
                        new SelectList(new string[] { StatusTD.Failure.ToString(), StatusTD.Success.ToString() }, item.Status.ToString()),
                                    new { @class = "form-control" })
                    </td>
                    <td><input type="hidden" name="AddressCustomer" value="@item.AddressCustomer" /></td>
                    <td><button type="submit">Сохранить</button></td>
                </form>
                <form method="post" asp-action="Delete">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <td><button type="submit">Удалить</button></td>
                </form>
            </tr>
        }       
    </tbody>
</table>