@model IEnumerable<ManagementApplication.UnitMeasurement>

@{
    ViewData["Title"] = "Index";
}

<h1>Единицы измерения</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unitMeasurement in Model)
        {
            <tr>
                <td>
                    <form method="post" asp-action="Edit" style="display:inline;">
                        <input type="text" name="Id" value="@unitMeasurement.Id" />
                        <input type="text" name="Name" value="@unitMeasurement.Name" />
                        <input type="text" name="Status" value="@unitMeasurement.Status" />
                        <button type="submit">Сохранить</button>
                    </form>
                    <form method="post" asp-action="Details" style="display:inline;">
                        <input type="hidden" name="id" value="@unitMeasurement.Id" />
                        <button type="submit">Детали</button>
                    </form>
                    <form method="post" asp-action="Delete" style="display:inline;">
                        <input type="hidden" name="id" value="@unitMeasurement.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>