@model IEnumerable<ManagementApplication.UnitMeasurement>

@{
    ViewData["Title"] = "Index";
}

<h1>Единицы измерения</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unitMeasurement in Model)
        {
            <tr>
                <td>
                    <input type="text" asp-for="@unitMeasurement.Id" />
                </td>
                <td>
                    <input type="text" asp-for="@unitMeasurement.Name" />
                </td>
                <td>
                    <input type="text" asp-for="@unitMeasurement.Status" />
                </td>
                <td>
                    <form method="post" asp-action="Edit">
                        <input type="hidden" name="id" value="@unitMeasurement.Id" />
                        <button type="submit">Save</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="Details">
                        <input type="hidden" name="id" value="@unitMeasurement.Id" />
                        <button type="submit">Details</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="Delete">
                        <input type="hidden" name="id" value="@unitMeasurement.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>